## About

Notebok to read and plot Heart rate exports from Fitbit

- Author : Jal Panchal

In [136]:
import numpy as np
import os
import cv2
import json
import matplotlib.pyplot as plt
from datetime import date, time, datetime

In [17]:
with open('./../data/0708_export_jal/PioneerWearable/Physical Activity/heart_rate-2021-07-06.json', 'r') as file:
     kp_0331_1 = json.load(file)

In [18]:
#get all the json files for heart rate
path_to_hr_json = "./../data/0708_export_jal/PioneerWearable/Physical Activity/"
hr_json_files = [pos_json for pos_json in os.listdir(path_to_hr_json) if pos_json.endswith('.json') and pos_json.startswith('heart_rate')]

#sort them based on date
hr_json_files = np.sort(hr_json_files)

In [165]:
#Read json files and parse date, time and Heart rate in bpm
hr_data = pd.DataFrame()
for file in hr_json_files:
    
    temp_list= json.load(open(path_to_hr_json+file))
    temp1 = pd.DataFrame(temp_list)
    temp2 = pd.DataFrame(temp1.value.tolist())
    temp2['dateTime'] = pd.to_datetime(temp1.dateTime, format='%m/%d/%y %H:%M:%S')
    
    #append data from all days
    hr_data = hr_data.append(temp2)
    
#reset index
hr_data = hr_data.reset_index()

In [166]:
hr_data

        index  bpm  confidence            dateTime
0           0   70           1 2021-05-12 21:56:02
1           1   80           1 2021-05-12 21:56:07
2           2   84           1 2021-05-12 21:56:17
3           3   80           1 2021-05-12 21:56:22
4           4   77           1 2021-05-12 21:56:27
...       ...  ...         ...                 ...
597366  11496   83           1 2021-07-08 02:14:18
597367  11497   82           1 2021-07-08 02:14:23
597368  11498   79           1 2021-07-08 02:14:28
597369  11499   81           1 2021-07-08 02:14:33
597370  11500   83           1 2021-07-08 02:14:38

[597371 rows x 4 columns]